{% extends "links.html" %}
{% load static %}
{% block title %}Password Reset Form{% endblock %}

{% block head_content %}


<style type="text/css">

    .logdet {
        text-align: center;
        font-size: 26px;
        margin-top: 20px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .logdet-sub{
        text-align: center;
        font-size: 16px;
        margin-top: 15px;
        font-weight: 400;
        line-height: 25px;
    }
      .main-box{
          width: 400px;
          height: auto;
          padding: 40px 30px;
          background-color: #ffffff;
          border-radius: 25px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
      }
      .bg {
        /* The image used */
        background-image: url("https://images.unsplash.com/photo-1616587894289-86480e533129?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        filter: blur(6px);
        width: 100%;
      }
      .link{
        color :#ce907e;
        padding-left: 3px;
        text-decoration-line: underline;
      }

      @media screen and (max-width: 500px ){
        .logdet {
            text-align: center;
            font-size: 18px;
            margin-top: 20px;
            font-weight: bold;
            letter-spacing: 1px;
        }
        .logdet-sub{
            text-align: center;
            font-size: 12px;
            margin-top: 15px;
            font-weight: 400;
            line-height: 20px;
        }

          .main-box{
              width: 280px;
              height: auto;
              padding: 40px 30px;
              background-color: #ffffff;
              border-radius: 25px;
    
          }
          .link{
            color :#ce907e;
            padding-left: 3px;
            text-decoration-line: underline;
            font-size: 0.8rem;
          }
      }
      
</style>
{% endblock %}

{% block content %}
<div class="container-fluid p-0">
<div class="bg"></div>
        <div class="main-box">
            <div class="logdet">Password Reset Successfully!</div>
            <p class="logdet-sub">Your Password has ben Reset Successfully! Please login with new password</p>
            <a href="/login" class="d-flex justify-content-center link">Login</a>
        </div>
</div>
{% endblock %}
