{% extends "links.html" %}
{% load static %}
{% block title %}Password Reset Form{% endblock %}

{% block head_content %}


<style type="text/css">

    .logdet {
        text-align: center;
        font-size: 26px;
        margin-top: 20px;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .logdet-sub{
        text-align: center;
        font-size: 16px;
        margin-top: 15px;
        font-weight: 400;
        line-height: 25px;
    }
      label{
        margin-top: 5px;
        font-size: 18px;
        font-weight: 600;
        color: #434343;
      }
      
      input{
        width: 100%;
        height: 48px;
        background-color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        color: #434343;
        border-radius: 5px;
        border: 1px solid #d6d6d6;
        padding: 6px 12px; 
      }
      #btn{
        border-radius: 5px;
        height: 48px;
      
      }
      .btn:hover{
        color: white;
        box-shadow:0 0 3px #A43FDD!important; 
      }
      .btn{
        color: white;
        font-size: 15px;
        font-weight: 500;
        background-color: #A43FDD;
    

      }
      .main-box{
          width: 400px;
          height: auto;
          padding: 40px 30px;
          background-color: #ffffff;
          border-radius: 25px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
      }
      .bg {
        /* The image used */
        background-image: url("https://images.unsplash.com/photo-1616587894289-86480e533129?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        filter: blur(6px);
        width: 100%;
      }
      .link{
        color :#ce907e;
        padding-left: 3px;
        text-decoration-line: underline;
      }

      @media screen and (max-width: 500px ){
        .logdet {
            text-align: center;
            font-size: 18px;
            margin-top: 20px;
            font-weight: bold;
            letter-spacing: 1px;
        }
        .logdet-sub{
            text-align: center;
            font-size: 12px;
            margin-top: 15px;
            font-weight: 400;
            line-height: 20px;
        }
          label{
            margin-top: 5px;
            font-size: 14px;
            font-weight: 600;
            color: #434343;
          }
          
          input{
            width: 100%;
            height: 38px;
            background-color: #ffffff;
            font-size: 14px;
            font-weight: 500;
            color: #434343;
            border-radius: 5px;
            border: 1px solid #d6d6d6;
            padding: 6px 12px; 
          }
          #btn{
            border-radius: 5px;
            height: 38px;
          
          }

          .main-box{
              width: 280px;
              height: auto;
              padding: 40px 30px;
              background-color: #ffffff;
              border-radius: 25px;
    
          }
          .link{
            color :#ce907e;
            padding-left: 3px;
            text-decoration-line: underline;
            font-size: 0.8rem;
          }
      }
      
</style>
{% endblock %}

{% block content %}
<div class="container-fluid p-0">
<div class="bg"></div>
        <div class="main-box">
         <form action="." method="post">
            <div class="logdet">Forgot Your Password?</div>
            <p class="logdet-sub">No worries. Enter your email below and we’ll send you instructions on how to reset your password.</p>
            {% csrf_token %}
            {{ form.as_p }}
            <div class=" form-group d-flex justify-content-center" id="btn">
                <button type="submit" class="btn btn-block">Submit</button>
            </div>
         </form>
          <a href="/login" class="d-flex justify-content-center link">Back to login</a>
        </div>
</div>
{% endblock %}