{% extends "base.html" %} {% load static %} {% block title %}Your Past Interviews{% endblock %} 
{% block head_content %}

<style type="text/css">

	.main-screen {
		padding: 0 10%;
	}
	.logdet {
		text-align: center;
		font-size: 30px;
		margin-top: 25px;
		margin-bottom: 30px;
		font-weight: bold;
		letter-spacing: 1px;
	}
	.cardtext {
        font-size: 16px;
		color: rgb(99, 99, 99);
	}

	.cardanswer{
		font-size: 18px;

	}

	.noreport{
		color: rgb(57, 57, 57);
		font-size: 25px;
		margin-bottom: 10px;
	}

	.report-text{
		color: rgb(57, 57, 57);
		font-size: 16px;
		font-weight: 400;
	}

	.hire-mech{
        width: 200px;
        border: none;
        padding: 12px 8px;
        margin: 20px 0;
        border-radius:8px;
        background-color:  #A43FDD;
        color: #fff;
        font-size: 1.2rem;
      }


	body {
		background-color: #fff;
	}

	@media (max-width: 760px) {
		.canvasChart{
			width: 200px;
			height: 200px;
		}
	
	}

	@media (max-width: 500px) {
		.logdet {
			font-size: 22px;
		}

		
		.report-text{
			color: rgb(57, 57, 57);
			font-size: 14px;
			font-weight: 400;
		}

		  
        .hire-mech{
			width: 150px;
			border: none;
			padding: 8px 4px;
			margin: 20px 0;
			border-radius:8px;
			background-color:  #A43FDD;
			color: #fff;
			font-size: 1.2rem;
		  }
		
		  .noreport{
			  font-size: 20px;
		  }
	}
</style>

{% endblock %} 
{% block content %}
	<div class="container-fluid m-5 p-0">
		        
					<div class="logdet">Your Past Interview Progress</div>
						<div class="row">
							<div class="col-lg-8 col-md-7">
								<div class="card-deck">
									{% for interview in interviews %}
											<div class="card mb-4" style="min-width: 15rem; max-width:16rem">
												<div class="card-header text-white" style="background-color: #A43FDD; font-weight:600;font-size: 20px">Interview {{ forloop.counter }}</div>
												<div class="card-body">
													<h6 class="card-subtitle mb-3"><span class="cardtext">Experience Level -</span> <span style="text-transform: capitalize;" class="cardanswer">{{interview.choice}}</span></h6>
													<h6 class="card-subtitle mb-4"><span class="cardtext">Interview Duration -</span> <span class="cardanswer">{{interview.duration}} mins</span></h6>
													<h6 class="card-subtitle mt-3 text-center"><span class="cardanswer">{{interview.interview_start_time}}</span></h6>
												</div>
												<div class="card-footer bg-transparent "><a href="{% url 'interview:full_report' interview.id %}" class="card-link">View Full Report</a></div>
											</div>
									{% empty %}
										<div class="container-fluid p-0">
											<div class="row">
												<div class="col-lg-12">
													<img src="{% static 'images/nodata.png' %}" width="65%" class="img-responsive center-block d-block mx-auto"><br>
													<h2 class="text-center noreport">No Reports Found</h2>
													<h4 class="text-center report-text">To see your reports , please take an interview.</h4>
													<div class="link-button text-center">
														<a href="/choice/"><button class="hire-mech">Take Interview</button></a>
													</div>
												</div>
										
											</div>
										</div>
									{% endfor %}
								 </div>
							</div>
							<div class="col-lg-4 col-md-5">
								<canvas id="confidenceChart" class="canvasChart" width="100%" height="80%"></canvas><br>
								<canvas id="mistakesChart" class="canvasChart" width="100%" height="80%"></canvas>
							</div>
						</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
		<script>
			var ctx = document.getElementById("confidenceChart").getContext("2d");
			var confidenceChart = new Chart(ctx, {
			  type: "bar",
			  data: {
				labels: [
				 {% for interview in interviews %}
				  'Interview {{ forloop.counter }}',
				 {% endfor %}
				],
				datasets: [
				  {
					label: "Confidence % per Interview",
					data: [
					{% for interview in interviews %}
					   '{{interview.avg_confidence}}',
				    {% endfor %}
					],
					backgroundColor: [
					'rgba(219, 178, 241,0.8)',
					'rgba(191, 121, 231,0.8)',
					'rgba(164, 63, 221,0.8)',
					'rgba(131, 50, 177,0.8)',
					'rgba(98, 38, 133,0.8)',
					],
				  }
				],
			  },
			  options: {
				scales: {
					y: {
						min: 0,
						max: 100,
						stepValue: 10,

					}
				}
			}
			});
			var ctx = document.getElementById("mistakesChart").getContext("2d");
			var mistakesChart = new Chart(ctx, {
			  type: "bar",
			  data: {
				labels: [
				 {% for interview in interviews %}
				  'Interview {{ forloop.counter }}',
				 {% endfor %}
				],
				datasets: [
				  {
					label: "Mistakes per Interview",
					data: [
					{% for interview in interviews %}
					   '{{interview.avg_mistakes}}',
				    {% endfor %}
					],
					backgroundColor: [
					'rgba(98, 38, 133,0.8)',
					'rgba(219, 178, 241,0.8)',
					'rgba(191, 121, 231,0.8)',
					'rgba(164, 63, 221,0.8)',
					'rgba(131, 50, 177,0.8)',
					
					],
				  }
				],
			  },
			  options: {
				scales: {
					y: {
						min: 0,
						max: 30,
						stepValue: 5,

					}
				}
			}
			});
		  </script>
	

{% endblock %}
