{% extends "base.html" %} {% load static %} {% block title %}Interview{% endblock %} {% block head_content %}

<style type="text/css">
	.main-screen {
		padding: 0 8%;
	}
	.screen-1 {
		padding: 50px 20px 50px;
		background-color: #fff;
	}

	#interview-page {
		color: #fff;
		font-size: 16px;
		font-weight: 600;
	}

	.main-text {
		font-size: 3rem;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 20px;
	}

	.sub-text {
		font-size: 1rem;
		font-weight: 400;
		line-height: normal;
		margin-bottom: 20px;
		text-align: justify;
		border-left: #a43fdd 8px solid;
		padding-left: 15px;
	}

	.hire-mech {
		width: 200px;
		border: none;
		padding: 12px 8px;
		margin: 20px 0;
		border-radius: 8px;
		background-color: #a43fdd;
		color: #fff;
		font-size: 1.2rem;
	}

	.fit-image {
		width: 100%;
		min-width: 150px;
		object-fit: cover;
		height: 250px;
		border-radius: 8px;
		background-color: white; /* only if you want fixed height */
		margin-bottom: 2%;
	}

	.sub-box {
		padding: 20px;
		border-radius: 16px;
		box-shadow: 8px 5px 34px -12px rgba(101, 94, 94, 0.75);
		-webkit-box-shadow: 8px 5px 34px -12px rgba(101, 94, 94, 0.75);
		-moz-box-shadow: 8px 5px 34px -12px rgba(101, 94, 94, 0.75);
		transition: 0.5s all ease-in-out;
		margin-bottom: 20px;
	}

	.sub-box:hover {
		transform: scale(1.02);
	}
	@media screen and (max-width: 1000px) {
		.main-screen {
			padding: 0 10%;
		}
	}

	@media screen and (max-width: 670px) {
		.main-screen {
			padding: 0 10%;
		}
	}
	@media screen and (max-width: 500px) {
		.main-screen {
			padding: 0 40px;
		}
		.main-text {
			font-size: 2.5rem;
			font-weight: 700;
			line-height: normal;
			margin-bottom: 20px;
		}

		.sub-text {
			font-size: 0.9rem;
			font-weight: 400;
			line-height: normal;
			margin-bottom: 20px;
			text-align: justify;
			border-left: #a43fdd 8px solid;
			padding-left: 15px;
		}

		.hire-mech {
			width: 150px;
			border: none;
			padding: 8px 4px;
			margin: 20px 0;
			border-radius: 8px;
			background-color: #a43fdd;
			color: #fff;
			font-size: 1.2rem;
		}

		.image-screen img {
			margin: 10% auto;
			display: block;
			border-radius: 15px;
			box-shadow: -22px -22px 0px 3px rgba(219, 219, 219, 0.75);
			-webkit-box-shadow: -22px -22px 0px 3px rgba(219, 219, 219, 0.75);
			-moz-box-shadow: -22px -22px 0px 3px rgba(219, 219, 219, 0.75);
			justify-content: center;
		}

		.fit-image {
			width: 100%;

			object-fit: cover;
			height: auto;
			background-color: white; /* only if you want fixed height */
		}
	}
</style>
{% endblock %} {% block content %}
<div class="container-fluid screen-1">
	{% if messages %} {% for message in messages %}
	<div
		{%
		if
		message.tags
		%}
		class="alert alert-{{ message.tags }} alert-dismissible fade show"
		{%
		else
		%}
		class="alert alert-warning alert-dismissible fade show"
		{%
		endif
		%}
		role="alert"
	>
		{{ message }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endfor %} {% endif %}
	<!-- What defines you the best professionally -->
	<div class="row mt-4">
		<div class="col-lg-6 col-md-6 p-0 align-self-center">
			<div class="row m-0 justify-content-center">
				<div class="main-screen">
					<div class="sub-box">
						<img src="{% static 'images/virtual-interview-job2.jpg' %}" class="img-responsive fit-image" />
						<div class="main-text">Experienced</div>
						<div class="sub-text">
							Choose this option if you have some professional experience in your industry and have appreared for Behavioural Interviews
							before.
						</div>
						<div class="link-button">
							<a href="/instructions/experienced"><button class="hire-mech">Practice</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 p-0 align-self-center">
			<div class="row m-0 justify-content-center">
				<div class="main-screen">
					<div class="sub-box">
						<img src="{% static 'images/virtual-job-interview.jpg' %}" class="img-responsive fit-image" />
						<div class="main-text">Fresher</div>
						<div class="sub-text">
							Choose this option if you are just entering the professional world and will be appearing for interviews for your first job.
						</div>
						<div class="link-button">
							<a href="/instructions/fresher"><button class="hire-mech">Practice</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

<!-- pbkdf2_sha256$216000$LTbfIhENiqFt$oB12jQry2oQKNPx8691u7ZkbXKiZZ7BBALpTCBGQg24= -->
