{% extends "links.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block head_content %}
<style>
    .screen-1{
        padding: 50px  20px  50px;
        background-color: #fff;
      }
</style>
{% endblock %}


{% block content %} 

<div class="container-fluid screen-1">
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% else %} class="alert alert-warning alert-dismissible fade show" {% endif %}  role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    <h3>Dashboard! <a href="/logout/" class="float-right">Logout</a></h3>
    
</div>
  {% endblock %}