{% extends "base.html" %} {% load static %} {% block title %}Interview{% endblock %} {% block head_content %}

<style type="text/css">
	.main-screen {
		padding: 0 3%;
	}

	#interview-page {
		color: #fff;
		font-size: 16px;
		font-weight: 600;
	}

	.screen1 {
		padding: 80px 40px;
		background-color: #fff;
	}

	.main-text {
		font-size: 1.5rem;
		font-weight: 500;
		line-height: normal;
		margin-bottom: 20px;
	}

	.sub-text {
		font-size: 1rem;
		font-weight: 400;
		line-height: normal;
		margin-bottom: 20px;
		text-align: justify;
		border-left: #a43fdd 8px solid;
		padding-left: 15px;
	}

	.center {
		text-align: center;
	}

	.d {
		text-align: center;
		border: #a43fdd 2px solid;
		margin-bottom: 20px;
		padding: 20px;
	}

	.card-link {
		color: inherit;
	}

	.answerbox{
		background-color: #fff;
		padding: 15px 30px;
		border: 1px solid rgb(233, 233, 233);
	}
	.answerresponse{
		font-size: 20px;
		font-weight: 600;
		color: rgb(37, 36, 36);
		display: inline-block;
		margin-bottom: 5px;
	}

	@media (max-width: 990px) {
		.main-screen {
			padding: 0 8%;
		}
		.screen1 {
			padding: 50px;
			background-color: #fff;
		}
		
	}

	@media (max-width: 780px) {
		.main-screen {
			padding: 0 2%;
		}
		.screen1 {
			padding-top :50px;
			background-color: #fff;
		}
	}

</style>
{% endblock %} {% block content %}

<div class="container-fluid screen1">
	<div class="col-lg-12 col-md-12 p-0 align-self-center" data-aos="fade-right">
		<div class="row m-0 justify-content-center">
			<div class="main-screen">
				<div class="main-text text-center">Here is the report of your interview!</div>
				<div class="row">
					<div class="col-lg-8">
						<div class="d">
							<strong>
								Start date and time of your interview is {{details.start}} <br />
								The duration of your interview is {{details.duration}} minutes.<br/>
								And overall confidence is {{details.avg_confidence}} %.<br/>
								And average mistake per answer is {{details.avg_mistakes}}.
							</strong>
						</div>
		
						<div id="accordion">
							{% for ans in answers %}
							<div class="card mb-3">
								<div class="card-header bg-transparent">
									<a class="collapsed card-link" data-toggle="collapse" href="#answer{{ans.question_no}}">
											<h5 class="card-title">Question {{ans.question_no}}</h5>
											<p class="card-text">{{ans.question}}</p>
										
									</a>
								</div>
		
								<div id="answer{{ans.question_no}}" class="collapse" data-parent="#accordion">
									<div class="card-body p-3" style="background-color: rgb(243, 243, 243);">
										<div class="col-12 p-0">
											<div class="row m-0 justify-content-center">
												<div class="col-lg-4 col-md-4 answerbox"><span class="answerresponse"><img src="{% static 'images/happy.png' %}" width="20px" style="margin-top: -5px;"> Corrected Answer</span> <br>{{ans.correct_answer}}</div>
												<div class="col-lg-4 col-md-4  answerbox"><span class="answerresponse"><img src="{% static 'images/data-analysis.png' %}" width="20px" style="margin-top: -5px;"> Analysis</span><br> {{ ans.analysis }} Your confidence percent is {{ ans.confidence_percent }} %</div>
												<div class="col-lg-4 col-md-4  answerbox"><span class="answerresponse">
													<img src="{% static 'images/results.png' %}" width="20px" style="margin-top: -5px;"> Remark</span>	<br>
													{% if ans.correction_frequency == 1 %}
													Your answer has {{ans.correction_frequency}} mistake.
													{% elif ans.correction_frequency == 0 %}
													Well Done! Your answer is perfect. 
													{% else %}
													Your answer has {{ans.correction_frequency}} mistakes. 
													{% endif %}</div>
												
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
					<div class="col-lg-4">
						<canvas id="confidenceChart" class="canvasChart" width="100%" height="80%"></canvas><br>
						<canvas id="mistakesChart" class="canvasChart" width="100%" height="80%"></canvas>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
		<script>
			var ctx = document.getElementById("confidenceChart").getContext("2d");
			var confidenceChart = new Chart(ctx, {
			  type: "bar",
			  data: {
				labels: [
				 {% for ans in answers %}
				  'Answer {{ forloop.counter }}',
				 {% endfor %}
				],
				datasets: [
				  {
					label: "Confidence % per Answer",
					data: [
					{% for ans in answers %}
					   '{{ans.confidence_percent}}',
				    {% endfor %}
					],
					backgroundColor: [
					'rgba(219, 178, 241,0.8)',
					'rgba(191, 121, 231,0.8)',
					'rgba(164, 63, 221,0.8)',
					'rgba(131, 50, 177,0.8)',
					'rgba(98, 38, 133,0.8)',
					],
				  }
				],
			  },
			  options: {
				scales: {
					y: {
						min: 0,
						max: 100,
						stepValue: 10,

					}
				}
			}
			});
			var ctx = document.getElementById("mistakesChart").getContext("2d");
			var mistakesChart = new Chart(ctx, {
			  type: "bar",
			  data: {
				labels: [
				 {% for ans in answers %}
				  'Answer {{ forloop.counter }}',
				 {% endfor %}
				],
				datasets: [
				  {
					label: "Mistakes per Answer",
					data: [
					{% for ans in answers %}
					   '{{ans.correction_frequency}}',
				    {% endfor %}
					],
					backgroundColor: [
					'rgba(98, 38, 133,0.8)',
					'rgba(219, 178, 241,0.8)',
					'rgba(191, 121, 231,0.8)',
					'rgba(164, 63, 221,0.8)',
					'rgba(131, 50, 177,0.8)',
					
					],
				  }
				],
			  },
			  options: {
				scales: {
					y: {
						min: 0,
						max: 30,
						stepValue: 5,

					}
				}
			}
			});
		  </script>
	
{% endblock %}
