{% extends "base.html" %}
{% load static %}
{% block title %}Interview{% endblock %}
{% block head_content %}

    <style type="text/css">
        #video{
            width: 75%;
            height: 300px;
            margin: 10px auto;
            object-fit: cover;
        }
        .main-screen{
            padding: 0 15%;
          }
          .screen-1{
            padding: 100px  20px  50px;
            background-color: #fff;
          }
                    
          .main-text{
            font-size: 3rem;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 20px;
          }
    
    
          .sub-text{
            font-size: 1rem;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 20px;
            text-align: justify;
            border-left: #A43FDD 8px solid;
            padding-left: 15px;
          }
    
          .hire-mech{
            width: 200px;
            border: none;
            padding: 12px 8px;
            margin: 20px 0;
            border-radius:8px;
            background-color:  #A43FDD;
            color: #fff;
            font-size: 1.2rem;
          }

    
          @media screen and (max-width: 670px ){
            .main-screen{
              padding: 0 80px;
            }
          }
          @media screen and (max-width: 500px ){
            .main-screen{
              padding: 0 40px;
            }
            .main-text{
              font-size: 2.5rem;
              font-weight: 700;
              line-height: normal;
              margin-bottom: 20px;
            }
      
      
            .sub-text{
              font-size: 0.9rem;
              font-weight: 400;
              line-height: normal;
              margin-bottom: 20px;
              text-align: justify;
              border-left: #A43FDD 8px solid;
              padding-left: 15px;
            }
      
            .hire-mech{
              width: 150px;
              border: none;
              padding: 8px 4px;
              margin: 20px 0;
              border-radius:8px;
              background-color:  #A43FDD;
              color: #fff;
              font-size: 1.2rem;
            }
            #video{
                width: 75%;
                height: 250px;
                margin: 10px auto;
                object-fit: cover;
            }
    

    
          }
    </style>
{% endblock %}

{% block content %} 

<div class="container-fluid screen-1">
    <div class="row m-0">
        <div class="col-lg-6 col-md-6 p-0 align-self-center" data-aos="fade-right">
          <div class="row m-0 justify-content-center">
            <div class="main-screen">
                <div class="main-text">Welcome to Your Virtual Interview</div>
                <div class="sub-text">Check Your Audio as Well As Video on this page and Be Ready for your Virtual Interview</div>
                <div class="sub-text">Your interview starts where there will be no pauses in between to ensure a real interview like experience</div>
                <div class="sub-text">Clicking on the Start Interview Button will start your interview with our virtual interviewer Asking you your first question.</div>
                <div class="sub-text">As the question ends, recording of your answer will start automatically and the same will be prompted on your screen.</div>
                <div class="sub-text">Speak your answer in the microphone and click on the button for the next question to start and the cycle goes on.</div>
                <div class="sub-text">Exiting the Interview in between in any manner will result in complete deletion of the current Interview</div>
                <div class="sub-text">Experience Level: <b class="text-capitalize">{{request.session.choice}}</b></div>
            </div>
           </div>
        </div>
          <div class="col-lg-6 col-md-6 p-0 align-middle mt-auto mb-auto text-center" data-aos="fade-left"> 
             <video muted id="video"></video><br>
              <div class="link-button">
                <a href="/interview/"><button class="hire-mech">Start Interview</button></a>
              </div>
              <h6>Pro Tip - For a more realistic experience, press <b>F11</b> key on your keyboard</h6>
          </div>
      </div>
</div>
    <script type="text/javascript">  

        window.onload = function() {
            let checking = ["audioinput", "videoinput"];
            let onlyHas = [];
            navigator.mediaDevices.enumerateDevices()
            .then((devices) => {
                let haveAllDevices = true;
                devices.forEach((device) => {
                    onlyHas.push(device.kind);
                    if (!(device.kind == checking[0] || device.kind == checking[1])) {
                        haveAllDevices = false;
                    }
                });
                
            })
            .catch(function(err) {
                console.log(err.name + ": " + err.message);
            });


            //add constraints object
            var constraints = { audio: true,
                                video: true};
        
            //call getUserMedia, then the magic
            navigator.mediaDevices.getUserMedia(constraints).then(function(mediaStream){
                var video = document.querySelector('video');
                video.srcObject = mediaStream;
                video.play();
            }).catch(function(err){
                if (err.name == "NotAllowedError") {
                    console.log("User has denied accessed")
                    window.location.href = "/technical/";
                 }
            });
        
        }
    </script>

{% endblock %}