{% extends "links.html" %}
{% block title %}Interview{% endblock %}

{% block head_content %}

    <style>
      body{
        margin:0;
      }
      .wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
       }

       #interview-page{
        color: #fff;
        font-size: 16px;
        font-weight: 600;
      }

       #bottomBar{
           width: 100%;
           margin: 0;
           height: 10%;
           position: fixed;
           bottom: 0;
           z-index: 5;
           background-color: #222;
           box-shadow: 0 -2px 10px #222;
           color: #fff;
           padding: 25px 0;
       }

        #videoPlayer{
            height: 100vh;
            object-fit: cover;
            width: 100%;
            overflow: hidden;
        }
        .button{
            font-size: 16px;
            padding: 2px 4px;
            position: absolute;
            bottom: 25%;
            right: 10px;
        }
        #stopwatch{
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translate(0, -50%);
            z-index: 5;
            font-size: 28px;
            font-weight: 600;
        }

        #changeButton{
            display: none;
        }
        #instructions{
            position:absolute;
            bottom: 80%;
            left: 1%;
            font-size: 18px;
            color: #222;
            font-weight: 500;
        }
        #userVideo{
            position: fixed;
            bottom: 10%;
            right: 0px;
            width: 250px;
            height: 150px;
            z-index: 5;
            transform: scaleX(-1);
        }
        .hire-mech{
          width: 200px;
          border: none;
          padding: 12px 8px;
          margin: -7px 0;
          border-radius:8px;
          background-color:  #A43FDD;
          color: #fff;
          font-size: 1.2rem;
        }

        #questions{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 70%;
            transform: translate(-50%, -50%);
            font-size: 20px;
        }
        .cross{
            z-index: 5;
            position: absolute;
            top: 30px;
            left: 30px;
            transform: translate(-50%, -50%);
            text-decoration: none;
            color: #444;
        }
        .cross:hover{
            text-decoration: none;
            color: #000;
        }
        
        @media only screen and (orientation:portrait) {
            #turn { display:block; }
            #wrapperBlock { display:none; }
        }
            @media only screen and (orientation:landscape) {
            #turn { display:none; }
            #wrapperBlock { display:block; }
        }

    </style>
{% endblock %}
{% block content %}

    <div id="turn">
        <h1 class="display-1 m-5 text-center">Please Rotate Your Device</h1>
    </div>

<div class="wrapper" id="wrapperBlock">
      <a href="/" class="cross"><h4> X </h4></a>
    <video name='demo' autoplay="true" id="videoPlayer">
        <source src="../media/questions/{{ request.session.choice }}/{{start}}" type="video/mp4" id="vidSource"/>
    </video><br>

    <div id="bottomBar">
        <div id="stopwatch">00 : 00</div>
        <video muted id="userVideo"></video>
        <button onclick="onStart()" id="startButton" class="hire-mech button">Start Interview</button>
    
        <p id="questions"></p>

        <p id="instructions"></p><br>
        <button id="changeButton" class= "hire-mech button">End Answer</button>
    </div>
    
    

  </div>


    <script>

        let constraintObj = { 
            audio: true,
            video: { 
                facingMode: "user", 
                width: { min: 640, ideal: 1280, max: 1920 },
                height: { min: 480, ideal: 720, max: 1080 } 
            } 
        }; 
        var videos_array = JSON.parse('{{ videos|safe }}')
        var questions_array = JSON.parse('{{ questions|safe }}')

        var numberOfVideos = videos_array.length;
        var count=0;

        var player = document.getElementById('videoPlayer');
        var videoSource = document.getElementById('vidSource');
        var changeButton = document.getElementById('changeButton');
        var instructions = document.getElementById('instructions');
        var questions = document.getElementById('questions');
        var timer = document.getElementById('stopwatch');

        //CODE FOR TIMER FOR EACH ANSWER
        var min = 0;
        var sec = 0;
        var stoptime = true;

        function startTimer() {
            if (stoptime == true) {
                  stoptime = false;
                  timerCycle();
              }
          }

        function stopTimer() {
            if (stoptime == false) {
                stoptime = true;
            }
        }

        function resetTimer() {
            timer.innerHTML = "00:00";
            stoptime = true;
            sec = 0;
            min = 0;
        }

          function timerCycle() {
            if (stoptime == false) {
            sec = parseInt(sec);
            min = parseInt(min);
            sec = sec + 1;
            if (sec == 60) {
              min = min + 1;
              sec = 0;
            }
        
            if (sec < 10 || sec == 0) {
              sec = '0' + sec;
            }
            if (min < 10 || min == 0) {
              min = '0' + min;
            }
        
            timer.innerHTML = min + ' : ' + sec;
        
            setTimeout("timerCycle()", 1000);
          }
        }

        //CODE FOR TIMER ENDS

        player.pause(); //to prevent default start of the first question

        //handle older browsers that might implement getUserMedia in some way
        if (navigator.mediaDevices === undefined) {
            navigator.mediaDevices = {};
            navigator.mediaDevices.getUserMedia = function(constraintObj) {
                let getUserMedia = navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
                if (!getUserMedia) {
                    return Promise.reject(new Error('getUserMedia is not implemented in this browser'));
                }
                return new Promise(function(resolve, reject) {
                    getUserMedia.call(navigator, constraintObj, resolve, reject);
                });
            }
        }else{
            navigator.mediaDevices.enumerateDevices()
            .then(devices => {
                devices.forEach(device=>{
                    //console.log(device.kind.toUpperCase(), device.label);
                    //, device.deviceId
                })
            })
            .catch(err=>{
                console.log(err.name, err.message);
            })
        }

        navigator.mediaDevices.getUserMedia(constraintObj)
        .then(function(mediaStreamObj) {
            //connect the media stream to the first video element
            let video = document.getElementById("userVideo");

            if ("srcObject" in video) {
                video.srcObject = mediaStreamObj;
            } else {
                //old version
                video.src = window.URL.createObjectURL(mediaStreamObj);
            }
            
            video.onloadedmetadata = function(ev) {
                //show in the video element what is being captured by the webcam
                video.play();
            };

            //add listeners for saving video/audio
            let mediaRecorder = new MediaRecorder(mediaStreamObj);
            let chunks = [];
            
            // Code to be executed Everytime the Question Video Ends
            player.addEventListener('ended', (ev)=>{
                var seconds = 3;
                if(count == numberOfVideos-1){
                    redir()
                }
                else{
                    anim()
                }
                function anim(){
                    // 3 Seconds Buffer Time before starting the Recording of Answer
                    if (seconds > 0) {
                        instructions.innerHTML = "Starting to Record your Answer in "+seconds+"..."
                        seconds--;
                        setTimeout(anim, 1000);
                    }
                    else {
                        mediaRecorder.start();
                        startTimer();
                        console.log(mediaRecorder.state);
                        instructions.innerHTML = "Recording Your Answer...";
                        changeButton.style.display = 'inline';
                    }
                }
                function redir(){
                    document.getElementById("userVideo").style.display = "none";

                    videoSource.src = "../static/videos/congratulations.mp4";
                    player.load();
                    player.play();
                    window.location.href = "/interview_success/";
                    /* if (seconds > 0) {
                        instructions.innerHTML = "Interview Completed Successfully! Redirecting in "+seconds+"..."
                        seconds--;
                        setTimeout(redir, 1000);
                    }
                    else {
                        window.location.href = "/interview_success/";
                    }*/
                }
            })

            //CODE FOR WHEN THE END ANSWER BUTTON IS CLICKED
            changeButton.addEventListener('click', (ev)=>{
                mediaRecorder.stop();
                stopTimer();
                resetTimer();
                console.log(mediaRecorder.state);
            });

            mediaRecorder.ondataavailable = function(ev) {
                chunks.push(ev.data);
            }

            //SEND FORM DATA VIA AJAX CONTAINING THE QUESTION, ANSWER, ETC. 
            mediaRecorder.onstop = (ev)=>{
                
                let blob = new Blob(chunks, { 'type' : 'video/mp4;' });

                chunks = [];

                var formData = new FormData();
                formData.append("blob", blob);
                formData.append("qs", count);
                formData.append("question", questions_array[count-1]);
                var xhr = new XMLHttpRequest();
                xhr.open('POST', "{% url 'interview:interview' %}", true);
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                xhr.send(formData);
                console.log("Video recoreded and sent for Question Number: " + count);
            }
        })

        .catch(function(err) { 
            console.log(err.name, err.message); 
        });

        changeButton.addEventListener('click',nextButtonClickFunction,false);

        // Initial Code 
        function onStart(){
            document.getElementById('videoPlayer').play();
            document.getElementById('startButton').style.display = 'none';
            typeWriter();
        }

        // CODE TO PRINT THE QUESTIONS LETTER BY LETTER
        var i = 0;
        var txt = (count+1) + ". " + questions_array[count];
        function typeWriter() {
            if (i < txt.length) {
                questions.innerHTML += txt.charAt(i);
                i++;
                setTimeout(typeWriter, 50);
            }
            else{
                i = 0;
                txt = (count+2) + ". " + questions_array[count+1];
            }
        }
    
        function nextButtonClickFunction(e){
            changeButton.style.display = "none";
            instructions.innerHTML = "";
            questions.innerHTML = "";

            if(!e) 
            {
                e = window.event; 
            }

            count++;

            if(count == numberOfVideos-1){
                changeButton.innerText = "End Answer";
            }

            if(count>=numberOfVideos){
                instructions.innerHTML = "Interview Over!";
                window.location.href = "/interview_success/";
            }
            else{
                videoSource.src = "../media/questions/{{request.session.choice}}/"+videos_array[count];
                player.load();
                player.play();
                typeWriter();
            }
        }

    </script>

{%  endblock %}