{% extends "base.html" %}
{% load static %}
{% block title %}Interview{% endblock %}
{% block head_content %}

    <style type="text/css">
        .main-screen{
            padding: 0 15%;
          }

          .screen1{
            padding: 100px;
            background-color: #fff;
          }
        .main-text{
            font-size: 3rem;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 20px;
          }
    
    
          .sub-text{
            font-size: 1rem;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 20px;
            text-align: justify;
            border-left: #A43FDD 8px solid;
            padding-left: 15px;
          }
    </style>
{% endblock %}

{% block content %} 

<div class="container-fluid  screen1">
    <div class="col-lg-12 col-md-12 p-0 align-self-center" data-aos="fade-right">
        <div class="row m-0 justify-content-center">
          <div class="main-screen">
            <div class="main-text">Interview Completed Successfully!</div>
            <!-- <div class="sub-text">You can view the report of the interview on this page</div> -->
            <div class="sub-text">Here is the report of your interview!</div>
            {% for ans in answers %}
            <div class="sub-text"> question --> {{ans.question}}</div>
            <div class="sub-text"> Your answer --> {{ans.answer}}</div>
            <div class="sub-text"> Correct answer --> {{ans.correct_answer}} </div>
            {% for c in cor %}
            <div class="sub-text"> Correct answer --> {{c}} </div>
            {% endfor %}
            <div class="sub-text"> {{ans.frequency}}% of the words are stop words.</div>
            {% if ans.frequency > 60 %}
            <!-- <div class="sub-text"> Please take a small pause before the use of conjunctions!</div> -->
            <div class="sub-text"> Please use stop words less frequently!</div>
          {% endif %}
            {% endfor %}
          </div> 
       </div>
    </div>
</div>  

{% endblock %}